.line {
    width: 40%;
    height: 10px;
    background: #212529;
    border-radius: 5px;
    margin: 0px 2rem;

}

.icon, .line{
    display: none;
    opacity: 0.8;
    transition-duration: 0.5s;
}


.add-bar-container {
    background: black;
    height: 15px;
    border-radius: 5px;
    opacity: 0.05;
    overflow: hidden;
    transition-duration: 0.2s;
    cursor: pointer !important;
    margin: 1rem 0;
}


.add-bar-container:hover {
    background: #ffffff52;;
    height: unset;
    border-radius: 5px;
    opacity: 0.65;
    overflow: hidden;
    display: unset;
    padding: 2rem 0;
}


.add-bar-container:hover .line, .add-bar-container:hover .icon{
    display: unset;
}

.icon:hover{
    opacity: 1;
    transform: scale(1.3);
}

.line:hover{
    opacity: 1;
}

/*EDIT BAR*/

.edit-box-icon {
    margin: 0 0.3rem;
    opacity: 0.2;
    transition-duration: 0.2s;
    cursor: pointer;
}

.edit-box-icon:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.edit-box-icon:active {
    opacity: 0.9;
    transform: scale(1.1);
}

