

.bg-su-blue{
    background: #2EC4B6 !important;
}
.bg-su-lblue{
    background: #CBF3F0 !important;
}
.text-su-blue{
    color: #2EC4B6 !important;
}
.text-su-lblue{
    color: #CBF3F0 !important;
}
.bg-su-orange{
    background: #FF9F1C !important;
}
.bg-su-lorange{
    background: #FFBF69 !important;
}
.text-su-orange{
    color: #FF9F1C !important;
}
.text-su-lorange{
    color: #FFBF69 !important;
}

.text-decor-none{
    text-decoration: none;
}

.su-h2 {
    float: left;
    font-size: xx-large;
    display: contents;
    font-weight: 600;
}


.su-h3 {
    font-weight: 700;
    font-size: x-large;
}
.su-h4 {
    font-weight: 600;
    float: left;
    margin-top: 1rem;

}

.su-d-block{
    display: block;
}

.su-d-none{
    display: none !important;
}

#buttonHoverText {
    display: none;
}

button.submit {
    min-height: 55px;
}




.pageTitle{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #FF9F1C;
    padding: 3px 4rem;
    font-weight: 700 !important;
    margin-bottom: 4rem !important;
    font-size: xxx-large;
    color: #2EC4B6;
}

.pageTitleSearch{
    width: fit-content;
    font-weight: 700 !important;
    font-size: xxx-large;
    color: #2EC4B6;
}


.hlavicka {
    width: 100%;
    /* background: aqua; */
    display: inline-flex;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 10px solid #fa9702;
    margin-bottom: 4rem;
}

.pageTitleSearch {
    width: fit-content;
    padding-left: 3rem;
    font-weight: 700 !important;
    font-size: xxx-large;
    color: #2EC4B6;
    float: left;
}

.pageDescriptinoSearch {
    width: 100%;
    padding-left: 3rem;
    font-weight: 700 !important;
    font-size: x-large;
    color: #CBF3F0;
    float: left;
}

input#search {
    height: 3rem;
    background: transparent !important;
}

.search {
    float: right;
    width: 50%;
    display: inherit;
}

input#search {
    height: 3rem;
}


.searchButtonDiv {
    overflow: hidden;
    padding: 0;
    margin-right: -5px;
    margin-top: -1rem !important;
    height: 4rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.searchButton {
    margin: 0;
    width: fit-content;
    float: left;
    border-radius: 0 !important;
    height: 100%;
}

/*Odstranění podtržení v drop down menu u položek*/
a.block.px-4.py-2.text-sm.leading-5.text-gray-700 {
    text-decoration: none;
}

.headerMargin{
    margin-top: 60px;
}


/* Scrollbar  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #a5a7aa;
}

::-webkit-scrollbar-thumb {

    background: #ff9d09;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFBF69;
    cursor: pointer;
}

::-moz-selection {

    background: #ffa8038c;

}

::selection {

    background: #ffa8038c;

}

.headLogoMobile{
    transform: scale(2);
}




/*Změna barvy a velikosti mobilní nabídky v hlavičce*/
svg.h-6.w-6 {
    color: #002c3d;
    transform: scale(1.5);
}

.mobileHeadMenu{
    margin-right: -0.3rem;
}

/* Logo hlavička*/
@media (max-width: 576px) {

    .buttonsDiv {
        width: 100%;

    }



    .headLogoMobile {
        transform: scale(2);
        margin-left: 4rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .notification {

        z-index: 5 !important;
        position: unset !important;
        float: none !important;
        cursor: pointer;
        margin-top: -20px;
        padding-left: 15px;
    }

    .notificationBadge {
        float: left !important;
        position: static !important;
        margin-top: -40px;
        margin-left: 22px;
    }

}

@media (max-width: 768px) {

    #buttonHoverText {
        font-weight: 400;
        display: block;
    }

    .su-h2 {
        float: none;
        text-align: center;
        text-decoration: none !important;
    }

    .su-h3, .su-h4 {
        text-align: center;
        float: none;
        text-decoration: none !important;
    }

}

@media (max-width: 992px) {
    .buttonsDiv {
        width: 100%;
        margin-right: 0 !important;
    }

    .buttonsDivItem {
        height: 3.7rem;
    }

    .search {
        margin-left: 0;
        float: none;
        width: 100%;
    }

    .pageTitleSearch {
        width: 100%;
        padding-left: 0;
        text-align: center;
        float: none;
    }

}
