.edit-box-icon {
    margin: 0 0.3rem;
    mix-blend-mode: difference;
    transition-duration: 0.2s;
    cursor: pointer;
}

.edit-box-icon:hover {
    opacity: 0.8;
    mix-blend-mode: unset;
    transform: scale(1.2);
}

.edit-box-icon:active {
    opacity: 0.9;
    transform: scale(1.1);
}
